.es01Container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.es01Image {
  height: 280px;
}

@media only screen and (max-width: 768px) {
  .es01Image {
    height: 180px;
  }
}
