.gv01Container > div {
  display: flex;
  flex-wrap: wrap;
}
.gv01PhotoContainer {
  width: 31%;
  position: relative;
  height: 300px;
  margin: 6px 6px;
}

.gc01GridPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gc01PhotoOverlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gc01PhotoOverlayStat {
  font-size: 24px;
  font-weight: 800;
  color: var(--groww-secondary);
  display: flex;
}
.gc01PhotoOverlayStat i {
  margin-right: 6px;
}

.gv01PhotoContainer:hover .gc01PhotoOverlay {
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  .gv01PhotoContainer {
    height: 270px;
  }
}

@media only screen and (max-width: 768px) {
  .gv01Container {
    padding: 0px 8px;
  }
  .gv01PhotoContainer {
    width: 45%;
    margin: 4px 4px;
    height: 240px;
  }
}

@media only screen and (max-width: 425px) {
  .gv01PhotoContainer {
    height: 180px;
  }
}
