.lv01Container {
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lv01ListPhoto {
  width: 100%;
  min-width: 260px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .lv01Container {
    padding: 0px 28px;
  }
}

@media only screen and (max-width: 768px) {
  .lv01Container {
    padding: 0px;
  }
}
